<odoo>
    <data>
        <menuitem id="menu_board_wika" name="Dashboard" sequence="1" web_icon="wika_dashboard,static/description/icon.png"/>
        <menuitem id="dashboard_todo_menu"
                  name="To Do List" sequence="1"
                  parent="menu_board_wika"
        action="todo_mail_activity_action"/>

        <menuitem id="menu_dashboard_document" name="Dashboard Documents" parent="wika_dashboard.menu_board_wika" sequence="10" action="action_dashboard_document"/>

    </data>
</odoo>