/* .custom_label_color .o_form_label {
    color: red !important;
} */

/* #testStyl.o_form_label {
    
} */

/* .o_form_label {
    color: red !important;
} */

/* .custom-field .o_form_label {
    color: red;
} */