<odoo>
    <data>


        <menuitem
            action="action_wika_account_move"
            id="sub_menu_wika_account_move"
            name="Invoice"
            parent="wika_berita_acara_pembayaran.wika_berita_acara_pembayaran_menu_root"
            sequence="15"/>
       <menuitem
            action="action_wika_account_move_line"
            id="sub_menu_wika_account_move_line"
            name="Invoice Item"
            parent="wika_berita_acara_pembayaran.wika_berita_acara_pembayaran_menu_root"
            sequence="16"/>
            <!-- action="action_wika_account_payable_setting" -->

        <menuitem
            id="main_menu_account_move_config"
            name="Configuration"
            parent="wika_berita_acara_pembayaran.wika_berita_acara_pembayaran_menu_root"
            sequence="100"/>

        <menuitem
            action="wika_special_gl_action"
            id="sub_menu_wika_special_gl"
            name="Special GL"
            parent="main_menu_account_move_config"
            sequence="40"/>

        <menuitem
            action="action_wika_account_payable_setting"
            id="sub_menu_account_move_account_payable_setting"
            name="Payable Account Setting"
            parent="main_menu_account_move_config"
            sequence="100"/>

    </data>
    
</odoo>
