<?xml version='1.0' encoding='utf-8'?>
<odoo>
    <data>
        <!-- Main menu -->
        <menuitem id="menu_doc" name="Backup Doc" sequence="25" web_icon="wika_purchase,static/description/icon.jpg"/>

        <!-- New Purchase Menu -->
        <menuitem id="menu_purchase_wika_orders" name="Purchase Orders" parent="wika_purchase.menu_doc" action="action_wika_purchase_order" sequence="2"/>

    </data>
</odoo>